* {
    margin: 0;
    padding: 0;
  }
  
  .navMenu {
    background-color: rgb(97, 35, 35);
    overflow: hidden;
    width: 100%;
  }
  
  .navMenu p {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navMenu a:hover {
    background-color: rgb(255, 106, 106);
    color: black;
  }
  
  .navMenu a.atual {
    background-color: rgb(255, 0, 0);
    color: white;
  }
  
  .navMenu .icon {
    display: none;
  }
  
  .contPrincipal {
    padding-top: 20%;
    text-align: center;
  }
  
  h1 {
    color: red;
    font-size: 350%;
  }
  
  h2 {
    color: darkred;
    font-size: 175%;
  }
  
  .sobreNos {
    color: firebrick;
    margin: 15%;
    margin-top: 5%;
    font-size: 85%;
  }

  button{
  background-color: transparent;
  border-color: #ff00008c;
  color: #ffffff;
  padding: 2px;
  font-weight: bold;
  font-size: 10pt;
  margin-top: 1px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
  }